html{

    background-color: rgb(34, 208, 214);
    color: blue;
    font: arial black;
    font-style: italic;

}
h1{
    border-radius: unset;
    border-style: solid;
    color: rgb(117, 34, 34);
    font: arial black;
    text-align: center;

}

p{

    color: blue;

}