html{

    background-color: rgb(34, 208, 214);
    color: blue;
    font: arial black;
    font-style: italic;

}
h1{

    border-style: solid;
    color: rgb(117, 34, 34);
    text-align: center;

}

p{

    color: blue;

}